@import "../../styles.scss";

 .navbar {
   background-color: $primaryColor;
   min-height: 40px;
 }

 .navbar a {
   color: $fifthColor;
   text-decoration: none;
   padding: 0 8px 0 8px;
 }

 .navbar a:hover {
   color: $primaryColor;
   background-color: $fifthColor;
   font-weight: bold;
 }

 .navbar-brand {
   display: block;
 }
